h1 {
    font-family: $raleway;
    font-size: $xxx-large;
    font-weight: $bold;
}
h2 {
    font-family: $raleway;
    font-size: $x-large;
    font-weight: $bold;
}
h3 {
    font-family: $raleway;
    font-size: $large;
    font-weight: $bold;
}
h4 {
    font-family: $opensans;
    font-size: $medium;
    font-weight: $regular;
}
p {
    font-family: $opensans;
    font-size: $medium;
    font-weight: $regular;
}
h5 {
    font-family: $raleway;
    font-size: $small;
    font-weight: $regular;
}
h6 {
    font-family: $raleway;
    font-size: $x-small;
    font-weight: $regular;
}